<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some Form</title>
</head>
<body>
    <form action="{% url "demoapp:getform" %}" method="POST"> 
        {% csrf_token %} 
        <p>Name: <input type="text" name="user-id"></p> 
        <p>UserID :<input type="name" name="user-name"></p>
        <p>email :<input type="email" name="user-email"></p>
        <input type="submit"> 
    </form> 
</body>
</html>